/* GENERAL
--------------------------------------------------*/

* {
	box-sizing: border-box;
	}

body {
	margin-top: 150px;
	background: #eee;
	font-family: Lato, Helvetica, Arial;
	font-size: 16px;
	color: #222;
	}

.wrapper {
	width: calc(100vw - 30px);
	margin: auto;
	}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
	}

.text-center {
	text-align: center;
	}

/* TYPOGRAPHY
--------------------------------------------------*/

h1 {
	margin: 5px 0 15px;
	}

/* NAVIGATION
--------------------------------------------------*/

nav {
	}

a {
	}

/* LAYOUT AND DESIGN
--------------------------------------------------*/

header {
	position: fixed;
	top: 0;
	background: white;
	line-height: 50px;
	width: 100vw;
	text-align: center;
	color: #222;
	}

footer {
	}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

li {
	margin: 0 0 60px 0;
	}

.gallery-item img {
	margin: 0;
	padding: 0;
	margin: 0;
	border-radius: 3px;
	box-shadow: 0 3px 8px #777;
	}	

.desaturate { 
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

iframe {
	display: block;
	width: 100%;
	height: 50vw;
	max-height: 500px;
}

input[type="text"] {
	position: relative;
	top: -12px;
	width: 90%;
	max-width: 480px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	display: none;
	}

input[type="text"]:focus {
	background: #ccc;
	}

#lightbox {
	position: fixed;
	top: 0;
	background: rgba(0,0,0,0.9);
	width: 100vw;
	height: 100vh;
	display: none;
	color: #fff;
	animation: fade 500ms ease-in-out;
}

@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

#lightbox::after {
	content: '';
	display: block;
	background-image: url('../img/close.svg');
	width: 32px;
	height: 32px;
	position: fixed;
	top: 15px;
	right: 15px;
	font-size: 2.5em;
	color: #888;
	}

#lightbox:hover::after {
	cursor: pointer;
	}

#lightbox-left,
#lightbox-right {
	position: fixed;
	display: inline-block;
	background: rgba(255,255,255,0.5);
	width: 50px;
	height: 90px;
	bottom: 50px;
	border-radius: 5px;
	display: none;
	cursor: pointer;
	animation: fade 500ms ease-in-out;
	}

#lightbox-left {
	left: 10%;
	}

#lightbox-right {
	right: 10%;
}

#lightbox-extra {
	position: fixed;
	top: 14px;
	width: 100%;
	text-align: center;
	color: #fff;
	display: none;
}

#lightbox-extra label {
	margin-left: 10px;
}

#lightbox-item {
	width: 90%;
	max-width: 800px;
	padding: 50px 0;
	margin: auto;
	}

#lightbox-item img {
	position: relative;
	display: block;
	z-index: 2000;
	width: 100%;
	border-radius: 5px;
	animation: positionchange 500ms ease-in-out;
	} 

@keyframes positionchange {
	0% {top: -1000px;}
	100% {top: 0px;}
	}

#lightbox-item h2,
#lightbox-item p {
		position: relative;
		z-index: 2000;
		width: 100%;
		margin: 0;
		animation: fade 800ms ease-in-out;
	}

#lightbox-item h2 {
		padding: 20px 0 5px;
	}

/* RESPONSIVE
--------------------------------------------------*/

@media (min-width: 480px) {
	.wrapper {
		width: 460px;
	}

	li {
		float: left;
		margin: 0 60px 60px 0;
		}
	
	li:nth-child(2n+2) {
		margin-right: 0;
		}
}

@media (min-width: 768px) {
	body {
		margin-top: 120px;
		}

	.wrapper {
		width: 720px;
		}

	header {
		line-height: 80px;
		}

	h1 {
		margin: 0;
		display: inline-block;
		}

	
	li:nth-child(2n+2) {
		margin-right: 60px;
		}

	li:nth-child(3n+3) {
		margin-right: 0;
		}

	input[type="text"] {
			top: -5px;
			margin-left: 50px;
		}

	#lightbox-left,
	#lightbox-right {
		top: 50vh;
		margin-top: -50px;
		}
	}

@media (min-width: 1024px) {
	.wrapper {
		width: 980px;
		}

	li:nth-child(3n+3) {
		margin-right: 60px;
		}

	li:nth-child(4n+4) {
		margin-right: 0;
		}
	}
